:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  background: #333;
    color: hsl(200, 100%, 90%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  margin:0;
}
.hr {
  width:90%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.btn {
  background: hsl(200, 100%, 50%, 0.1);
  border: 1px solid hsl(200, 100%, 50%);
  color: hsl(200, 100%, 50%);
  width: 6em;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background: hsl(200, 100%, 50%, 0.2);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  
}
.input {
  outline: none;
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(200, 100%, 30%);
  width: 70%;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: hsl(200, 100%, 90%);
}

.input:focus {
  border: 1px solid hsl(200, 100%, 70%);
}

.form-container {
  display: flex;
 justify-content: space-between;
  
  padding: 2em;
}

.collapse-btn {
  cursor: pointer;
  width:2em;
  height: 2em;
}

.collapse-btn:hover {
  opacity: 50%;
 
}

.form-section {
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  max-height: 1000px; /* Default max-height (not collapsed) */
  opacity: 1; /* Fully visible when expanded */
  overflow: hidden; /* Hide overflow when collapsed */
}

.form-section.collapsed {
  max-height: 0; /* Collapse to height 0 */
  opacity: 0; /* Make it fully transparent when collapsed */
}
